* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    outline 1px solid red;
}

:root {
    font-size: 16px;
    font-family: 'Open Sans'; 
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
}

body {
    color: black;
    background-color: white;
    padding: 0;
    margin: 0;
    /*padding and margin gone*/
}

.line {
    border-bottom: 3px solid rgb(255, 255, 255); /* Style of the line */
    display: inline-block; /* Make it inline */
    width: 30px; /* Adjust the width of the line */
    margin: 0 10px; /* Adjust margin to control spacing */
    border-radius: 1rem;
}

.sidebar:hover .line {
    width: 200px; /* Adjusted width of the line on hover */
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #6649b8;
}

main {
    margin-left: 5rem; 
    /* 
    ---- rem unit = relative of the font size in the root element  
    ---- 5rem * 16px = 80px
    ---- relative units is useful because if you change font size 
    everything will stay proprortional to that font size (root)
    so that you dont have to manually update pixel values
    */
    padding: 1rem;
}

.all-cont{
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.left-cont {
    width: 5rem;
}

.sidebar {
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: var(--bg-primary);
    transition: 200ms ease;
    white-space: nowrap;
    overflow: hidden; /* Hide overflow to prevent line from being visible initially */
}

.menu-items {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-items {
    width: 100%;
}

.nav-items-Logo {
    width: 100%;
    margin-top: 20px;
}

.nav-items:last-child {
    margin-top: auto;     /*search other child*/
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;

}

.nav-nolink {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
}

.Logo-Holder img{
    width:48px;
    background-color: white;
    outline: 2px solid rgb(255, 255, 255);
    border-radius: 100%;
    margin-left: 14px;
    margin-top: 10px;
}

.navlink-text-Logo {
    display: none;

    overflow: hidden; /*for text not to go out of sidebar*/
    margin-left:10px;
    color: white;
    font-weight: bolder;
    font-size: 17px;
}

.navlink-text {
    display: none;
    
    overflow: hidden; /*for text not to go out of sidebar*/
    margin-left: -20px;
    color:white
}

.nav-link i {
    min-width: 1.7rem;   /*Icon*/
    margin: 0 1.9rem;
    font-size: 18px;
}

.nav-nolink i {
    min-width: 1.7rem; /*Icon*/
    margin: 0 1.9rem;
    font-size: 18px;
}

.sidebar:hover {
    width: 16rem;
}

.navlink-text:hover {
    width: 16rem;
}

.sidebar:hover .navlink-text {
    display: block;
}
.sidebar:hover .navlink-text-Logo {
    display: block;
}

.nav-link:hover{
    color: #ff7eee;
}

/*                           MID                                   */

.mid-cont{
    width: 50rem;
    padding: 3rem;
}


.tool-list {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    padding: 0;
    overflow: hidden;
    gap: 10px;
    border: 1px solid #333;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
}

.tool--btn {
    display: block;
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 30px;
    font-size: 16px;
    cursor: pointer;
}

.tool--btn:hover{
    background-color: #dddddd;
}

#output {
    height: auto;
    padding: 1rem;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: white;
    resize: vertical;
}

.right-cont {
    width: 15rem;
}

.rightbar {
    background-color: #141418;
    color: #6649b8;
    position: fixed;
    width: 15rem;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.schedule {
    background-color: black;
    height: 10rem;
    width: 10rem;
    color: #ececec;
    overflow: hidden;
    font-size: 0.8rem;
}

.to-do {
    background-color: black;
    height: 10rem;
    width: 10rem;
}

.events {
    background-color: black;
    height: 10rem;
    width: 10rem;
}