body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
}

#schedule {
    margin-top: 20px;
}

form {
    max-width: 400px;
    margin: 50px auto;
    text-align: center;
}

label {
    display: inline-block;
    width: 100px;
    text-align: right;
}
